body{
    font-size: 16px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
}

.navbar-header .navbar-brand{
    color: #fff;
}
button.btn-unline-success{
    color: #5cb85c;
    background-color: transparent;
    border-color: #5cb85c;
}
button.btn-unline-success:hover{
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.sidebar, .main-content{
    top: 51px;
}

.sidebar{
    background-color: #f5f5f5;
}
.sidebar .nav{
    margin-bottom: 15px;
}
.sidebar .nav-sidebar .active>a{
    color: #fff;
    background-color: #428bca;
}
.sidebar .nav-sidebar li>a{
    padding-right: 20px;
    padding-left: 20px;
}
.sidebar .nav-sidebar{
    margin-right: -15px;
    margin-left: -20px;
}
.main-content .placeholders{
    text-align: center;
    margin-bottom: 30px;

}
.main-content img{
    border-radius: 50%;
}
.sub-header{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
