body{
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/** General CSS **/
.padding-top-10{
    padding-top: 10px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

/** ---------- **/
/** ---------- **/
/** Header CSS **/
#banner{
    height: 80px;
    background-color: #722872;
}
#banner .container{
    width: 95%;
}
#banner a.navbar-brand{
    color: white;
    font-size: 40px;
    font-family: fantasy;
}
#banner ul>li{
    text-transform: uppercase;
    font-size: 14px;
}

/** ---------- **/
/** ---------- **/
/** Main Content CSS **/
main header{
    background-color: #aaa;
    padding: 50px 30px;
    color: white;
}

