body{
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/** General CSS **/
.padding-top-10{
    padding-top: 10px;
}
.padding-top-15{
    padding-top: 15px;
}
.padding-top-40{
    padding-top: 40px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}


#qlip-banner{
    background-color: #722872;
    height: 80px;
}
#qlip-banner .container{
    max-width: 1024px;
}
#qlip-banner .container img{
    height: 50px;
    margin: 15px 0;
}
#top{
    display: block;
    height: 80px;
}

main{
    background-color: #888;
}
main header{
    padding: 50px 30px;
    background-color: #aaa;
    color: #fff;
    max-width: 1024px;
    margin: 0 auto;
    text-align: right;
    display: flex;
}
main header .intro-text{
    width: 610px;
    max-width: 675px;
    text-align: right;
    margin-bottom: 30px;
}

hr.star-bright{
    border: solid 5px;
    max-width: 512px;
    margin: 40px 0 30px auto;
}
span.skills{
    font-size: 23px;
}
main header img{
    border-radius: 50%;
    width: 250px;
    max-width: 80%;
    margin: 30px 0 10px;
    height: auto;
}

main section{
    background-color: #fff;
    max-width: 1024px;
    margin: 0 auto;
}
main section h2{
    font-weight: bold;
    text-align: center;
    color: #888;
}
hr.star-dark{
    max-width: 512px;
    border-top: 5px solid;
    margin: 40px auto 30px;
}

#contact div{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: flex-start;
}
#portfolio{
    border: 1px solid;
}
#portfolio .grid{
    justify-content: space-around;
    display: flex;
    align-items: flex-start;
    list-style: none;
    flex-flow: row wrap;
}
#portfolio .grid li{
    max-width: 420px;
    margin: 20px;
}
#portfolio img{
    max-width: 100%;
    heigth: auto;
}

#contact{
    padding-top: 40px;
    border: 1px solid;
}
#contact #contact-form{
    width: 40%;
    margin-left: 80px;
}
#contact-form .form-item{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}
#contact-form .form-item label{
    display: block;
    font-size: 0.85em;
    opacity: 0;
}
#contact-form .form-item input, #contact-form .form-item textarea{
    border: 0;
    font-size: 1.5em;
    width: 100%;
    resize: none;
}
#contact #contact-content{
    max-width: 38%;
    width: 80%;
}
#contact #contact-content p{
    margin-top: 35px;
    max-width: 100%;

}
footer{
    background-color: #aaa;
    text-align: center;
    color: #fff;
}
footer .footer-above{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 60px;
}
footer .footer-above .footer-left p>a{
    color: #722872;
}
footer .footer-above ul>li{
    list-style: none;
    display: inline;
}
footer .footer-above ul>li>a.button{
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
}
footer .footer-below{
    background-color: #722872;
    padding: 25px 0;
}

